@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"),
    url("https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2")
      format("woff2");
}

html {
  height: 100%;
}

body {
  background: linear-gradient(#e66465, #9198e5);
  height: 100%;
  margin: 0;
  font-family: "Lato";
  background-attachment: fixed;
  // overflow-x: hidden;
}

.particles {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -10;
}

img {
  height: 300px;
  width: 300px;
}

.noValidImg {
  text-align: center;
  margin-top: 2em;
}
