ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;

  li {
    margin: 1em 2em;
    cursor: pointer;
  }

  li:hover {
    font-weight: 600;
    text-decoration: underline;
  }
}
